/* ==========================================================================
   #POMODORO APP STYLES
   ========================================================================== */

/**
 *
 * Inheriting box sizing slightly better best-practice
 * https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 *
 */
* {
  margin: 0px;
  padding: 0px;
}

body {
  width: 500px;
  height: 800px;
}

.container {
  margin: 20px 15px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --pomodoro: #2b2a33;
  --shortBreak: hsl(48, 23%, 40%);
  --longBreak: hsl(105, 16%, 40%);
}

body {
  background-color: var(--pomodoro);
  transition: background-color 1s ease;
  font-family: sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  user-select: none;
  width: 500px;
  height: 700px;
}

progress {
  border-radius: 2px;
  width: 100%;
  height: 12px;
  position: fixed;
  top: 0;
}

progress::-webkit-progress-bar {
  background-color: rgba(0, 0, 0, 0.1);
}

progress::-webkit-progress-value {
  background-color: #fff;
}

.timer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  text-align: center;
}

.clock {
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 15rem;
  line-height: 1;
  display: flex;
  align-items: center;
  font-family: arial, sans-serif;
}

.mode-button {
  font-size: 16px;
  height: 28px;
  cursor: pointer;
  box-shadow: none;
  font-weight: bold;
  color: #f9b60e;
  border: 1px solid transparent;
  margin: 0px;
  border-radius: 4px;
  padding: 2px 12px;
  background: none;
}

.mode-button.active {
  border-color: #565656;
}

.main-button {
  cursor: pointer;
  box-shadow: #565656;
  font-size: 22px;
  height: 55px;
  text-transform: uppercase;
  color: #e68a00;
  font-weight: bold;
  width: 200px;
  background-color: #ecbb80;
  border-width: initial;
  border-style: none;
  margin: 20px 0px 0px;
  padding: 0px 12px;
  border-radius: 10px;
  transition: color 0.5s ease-in-out 0s;
}

button:focus,
button:active {
  outline: none;
}

.main-button.active {
  transform: translateY(6px);
  box-shadow: none;
  outline: none;
}

.hidden {
  display: none;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  bottom: 10px;
  text-align: center;
  margin-top: 15px;
  left: 7px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #f9b60e;
}

input:focus + .slider {
  box-shadow: 0 0 1px #f9b60e;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media screen and (max-width: 550px) {
  .clock {
    font-size: 8rem;
  }
}

.bottom {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  height: 28px;
  cursor: pointer;
  font-weight: 300;
  color: #fff;
  background: none;
  margin-left: 23px;
}

.button-bottom {
  color: #f9b60e;
  font-weight: bold;
  border: 2px solid black;
  cursor: pointer;
  background-color: transparent;
  padding: 10px 10px; /* Adjust padding as needed */
}

.button:hover {
  background-color: #ffffff;
}

/* .switch {
  margin-top: 400px;
} */

.title {
  text-align: center;
  margin-top: 40px;
  color: #f9b60e;
}

.clock span {
  color: #f9b60e; /* Set the color of clock elements */
}

#js-progress {
  margin-top: 55px;
  position: absolute;
}

.button-group-mode-buttons {
  margin-top: 50px;
  display: flex;
}

.button-group-mode-buttons .button {
  font-size: 15px;
}

.notification-text {
  margin-top: 40px; /* Adjust this value as needed */
  font-family: "Poppins", sans-serif;
  font-size: 10pt;
  font-weight: bold;
  color: #f9b60e;
}
