* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  width: 500px;
  height: 500px;
}

.container {
  width: 100%;
  min-height: 100%;
  background: linear-gradient(135deg, #2b2a33, #2b2a33);
  padding: 10px;
}

.checklist {
  background-color: #00000000; /* Transparent background */
  width: 100%;
  max-width: 440px;
  margin: 10px auto; /* Adjust margin */
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #f9b60e; /* Add border */
}

.checklist h1 {
  margin-top: 0px;
  color: #f9b60e;
  /* display: flex; */
  text-align: center;
  align-items: center;
  margin-bottom: 20px;
  font-family: sans-serif;
  font-weight: bold;
}

#ctc {
  margin-top: 30px;
  color: #e68a00;
  text-align: center;
  font-size: 16px;
}

#completion-message {
  margin-top: 30px;
  color: #e68a00;
  text-align: center;
  font-size: 16px;
}

#streak {
  margin-top: 30px;
  margin-bottom: 30px;
  color: #e68a00;
  text-align: center;
  font-size: 16px;
}

.checklist h2 img {
  width: 30px;
  margin-left: 10px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #daa26e;
  border-radius: 30px;
  padding-left: 20px;
  margin-top: 40px;
  margin-bottom: 25px;
}

input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
}

#input-box {
  color: white;
  font-size: larger;
  font-family: sans-serif;
  font-weight: bold;
}

#input-box::placeholder {
  color: white;
}

#list-container li {
  color: #f9b60e;
  font-family: sans-serif;
  font-weight: bold;
}

button {
  border: none;
  outline: none;
  padding: 16px 50px;
  background: #ecbb80;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
}

#add-task-btn {
  font-weight: bold;
  font-family: sans-serif;
}

ul li {
  list-style: none;
  font-size: 21px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
}

ul li::before {
  content: "";
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url(../img/unchecked.png);
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 8px;
}

ul li.checked {
  color: #555;
  text-decoration: line-through;
}

ul li.checked::before {
  background-image: url(../img/checked.png);
}

ul li span {
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: #555;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}

ul li span:hover {
  background: #edeef0;
}

#past-seven-days-stats p {
  font-size: 16px;
  color: #e68a00;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
}

.historical-stats {
  background-color: #00000000; /* Transparent background */
  width: 100%;
  max-width: 440px;
  margin: 10px auto; /* Adjust margin */
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #f9b60e; /* Add border */
}
.historical-stats h2 {
  color: #f9b60e;
  /* display: flex; */
  text-align: center;
  align-items: center;
  margin-bottom: 20px;
  font-family: sans-serif;
  font-weight: bold;
}

bottom.notification-text {
  color: #f9b60e;
  font-family: sans-serif;
}
